name: CI

# Controls when the action will run.
# Triggers the workflow on push or pull request events but only for the main branch
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    # The type of machine to run the job on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['5.5', '7.0']

    steps:
    # Checks out the repository under $GITHUB_WORKSPACE, so that the job can access it.
    - name: Checkout PhotosLibrary
      uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}

    - name: Setup PhotosLibrary
      run: composer install --no-interaction

    - name: Unit Tests
      run: phpunit

